body {
    background-color: aquamarine;
    font-weight: 200;
}
header {
    text-align: center;
    }
 footer {
    text-align: center;
    height: 400px;
    padding:150px
    }

.flex {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    flex-direction: row;
    width:80%;
    gap:40 px 20 px
}

    
    .searchedCities {
        font-weight: bold;
        border: 2px grey solid;
    }